.flex-container{
    text-align: center;

    border-color: grey;
    border-style: solid;
}
.flex-container{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 28%;
    margin-right: 28%;
   height: 85vh;
   background-color: black;
   border-radius: 10px;
}
#display{
    width: 84%;
    height: 20vh;
    background-color: white;
    color: black;
    font-size: xx-large;
    padding-top: 5%;
    margin: 7%;
    text-align: right;
}
button{
    width: 18%;
    border-radius: 5%;
    border:0;
    height: 7vh;
    cursor: pointer;
    margin: 1%;
    color: lightblue;
    background-color: transparent;
    font-size: larger;
}
body{ 
    background-image: url("./images/img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}